<!--admin  update profile-->
<!--booking displayBookings confirmBookingsAndSendMailToCustomer-->
<!--bookingHistory displayBookingHistory-->
<!--category add, delete, update, showDetailsAsTable-->
<!--customer activate,deactivateCustomer-->
<!--feedback showFeedbacks-->
<!--payment showPayments-->
<!--services add, update,delete, detailsShowAsTable-->

<!--
use this code and theme i want customer page.side bar had search loaction filter,price filter,model filter and it has nav bar it had to home,ongoing booking,payment history,account setting,member setting  and page add to post add button i want genarate page for customer customer can view all add and booking car and pay.add dark theme light thime
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanCo | UnderDeveloped</title>
    <link rel="stylesheet" href="UnderDeveloped.css">
    <link rel="icon" href="/static/assets/cleanco-company-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<script src="/js/UnderDeveloped.js"></script>
</body>
</html>